@inherits LayoutComponentBase

<html>
<head>
    <title>LayoutFile</title>
</head>
<body>
    <div class="page">
        <div class="main">
            <p>This is a layout component that should be rendered components!</p>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
</body>
</html>